.left_right{
    display: flex;
   padding: 200px;
   padding-left: 250px;
   padding-right: 250px;
}
.titresign{
    font-size: 45px;
    color:#ff6900;

}
.paragraphsign{
    padding-top: 40px;
    color:white;
    font-size: 20px;
    
}

.formulaire{
    padding: 35px;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-left: 15px;
    border-radius: 35px;
}
.right{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 750px;
    height: 550px;
    border-radius: 20px;
    background-color:  rgba(128, 128, 128, 0.7); 
}
.devenez{
    color: white;
}
.inputsign{
 
   align-items: center;
  justify-content: center;
    border-radius: 25px;
    padding: 15px;
    border: none;
    width: 380px;

}

.name{
    margin-bottom: 10px;
    display: flex;
}
.buttonsign2{
  width: 190px;
   align-items: center;
   justify-content: center;
     border-radius: 25px;
     padding: 15px;
     background-color: #ff6900;
     border: none;
     
 
}
.left{
  
width: 900px;
}
.telechargersign{
    font-size: 35px;
   color: white;
padding: 15px;

}
.logo{display: flex;}
.num{
    padding:1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 200px;
    justify-content: center;
}
.liaison{
    width: 130px;
    height: 2px;
    border-radius: 25px;
    padding-top: 5px;
    border: none;
}
.nume{
    justify-content: center;
    border-radius: 35px;
    border: none;
    display: flex;
    width: 20px;
    height: 35px;
    padding-left: 15px;
    align-items: center;
}
.nume3{
    justify-content: center;
    border-radius: 35px;
    border: 1px solid rgb(12, 192, 12);
    display: flex;
    width: 20px;
    height: 35px;
    padding-left: 15px;
    align-items: center;
}
.nume1{
    justify-content: center;
    border-radius: 35px;
    background-color: rgb(12, 192, 12);
    border: 1px solid white ;
    display: flex;
    width: 20px;
    height: 35px;
    padding-left: 15px;
    align-items: center;
}
.nume2{
    background-color: rgb(12, 192, 12);
    justify-content: center;
    border-radius: 35px;
    border: 1px solid white;
    display: flex;
    width: 25px;
    height: 35px;
    padding-left: 15px;
    align-items: center;
}